<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" class="sidenav-container">
    <img src="assets/background.png" alt="" srcset="" style="max-height: 30vh; width: 100%;"> 
    <mat-list>
      <h3 mat-subheader>Directorios</h3>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>gps_fixed</mat-icon>
        <h4 (click)="navegar('/')" mat-line color="primary">Ubicaciones</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>save</mat-icon>
        <h4 (click)="navegar('/formulario')" mat-line color="primary">Formulario</h4>
      </mat-list-item>
      
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

